h1 {
    text-align: center;
    margin-top: 300px;
}

table {
    margin: auto;
}

form {
    display: inline;
}

button{
    margin-top: 15px;
}

.updateButton{
    margin-left: 45%;
}

.backButton{
    margin-left: 300px;
}