.mainH1{
    margin-left: 300px;
}

.closeImage{
    margin-left: 260px;
}

#modifyWindow, #deleteWindow{
    text-align: center;
    display: none;
    background: #fff;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

#modifyWindow{
    width: 300px;
    height: 400px;
    margin-left: 1200px;
}

#deleteWindow{
    width: 300px;
    height: 200px;
    margin-left: 1200px;
}

input{
    width: 250px;
    height: 25px;
    margin-left: 22px;
    margin-top: 10px;
}

.deleteButton, .updateButton{
    margin-top: 20px;
}

.searchForm{
    margin-top: 10px;
    width: 665px;
}

.searchButton{
    margin-left: 20px;
}

.menuForm, .resetForm, .addForm{
    display: inline;
}

.addButton{
    margin-left: 125px;
    margin-top: 10px;
}

.resetForm{
    margin-left: 160px;
}

select{
    margin-bottom: 10px;
}