.studentImage {
    margin-left: 22%;
}

.userImage {
    margin-left: 515px;
}

.userButton, .studentButton {
    display: inline;
}

.userButton {
    margin-left: 40.5%;
}

.studentButton {
    margin-left: 23.5%;
}
