@using AccountingSystem.Models;
@model LoginModel;

<!DOCTYPE html>

<html>
<head>
    <title>Authentication</title>
    <link href="~/css/login.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div>
    <h1>Вход на сайт</h1>
</div>

<div>
    <form method="post" action="~/Authentication/Login">   
        @if (Model != null && Model.AuthenticationError != null)
        {
            <p>@Model.AuthenticationError</p>
        }
        <input required placeholder="login" name="login" />       
        <input required class="input2" placeholder="password" type="password" name="password"/>        
        <button type="submit">Войти</button>
    </form>
</div>

</body>
</html>