<!DOCTYPE html>

<html>
<head>
    <title>Ошибка 400</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div>
    <h1>Ошибка 400! Данные не найдены.</h1>
</div>
</body>
</html>