@{
    
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/table.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Философия</th>
            <th>Психология</th>
            <th>Математика</th>
            <th>Физика</th>
            <th>Программирование</th>
            <th>Количесвто задолжностей</th>
            <th>История</th>
            <th>Политология</th>
            <th>Физ. культура</th>
            <th>Иностранный язык</th>
            <th>Химия</th>
        </tr>
        
    </table>
</div>
</body>
</html>