<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/Rating/rating.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/Rating/ratingResult.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>Данные успешно обновлены!</h1>

<form action="~/Students/Students">
    <button type="submit">К студентам</button>
</form>

</body>
</html>