<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/Menu/help.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<h1>Для перехода к списку студентов кликните по кнопке "К студентам". Далее вам откроются возможности добавления,
    редактирования и добавления данных о студентах. Для этого кликайте по соответствующим кнопкам на странице.</h1>

<form method="get" action = "Menu">
    <button>В меню</button>
</form>
</body>
</html>