@using AccountingSystem.Extensions
@using AccountingSystem.Models
@{
    User user = Context.Session.Get<User>("user");
}
<!DOCTYPE html>

<html>
<head>
    <title>Menu</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet" />
    @if(user.Role == "admin"){
        <link href="~/css/adminMenu.css" type="text/css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/userMenu.css" type="text/css" rel="stylesheet" />
    }
</head>
<body>

<h1>Menu</h1>

<hr></hr>

<div>    
    <img src="~/images/Students.png"></img>
    <img class="image" src="~/images/Users.png"></img>
</div>

<div>
    <form action="~/Students/Students">
        <button>Students</button>
    </form>
    
    <form class="usersImage" action="~/Users/Users">
        <button>Users</button>
    </form>
</div>


</body>
</html>