<!DOCTYPE html>

<html>
<head>
    <title>Menu</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/menu.css" type="text/css" rel="stylesheet" />
</head>
<body>

<h1>Menu</h1>

<hr></hr>

<div>
    <img src="~/images/Students.png"></img>
    <img src="~/images/Users.png"></img>
</div>

<div>
    <form action="~/Students/Students">
        <button>Students</button>
    </form>
    
    <form class="users" action="~/Users/Users">
        <button>Users</button>
    </form>
</div>


</body>
</html>