<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Preview/preview.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div>
    <h1>Тема проекта: Разработка программы учета успеваемости студентов</h1>
</div>

<div><hr></hr></div>

<div><h1>Исполнитель: Самусев</h1></div>

<div>
    <form action="~/Authentication/Login">
        <button>Аутентификация</button>
    </form>
</div>

</body>
</html>