body {
    background-color: #e5e5e5;
    font-style: oblique;
    margin-top: 200px;
}

h1 {
    text-align: center;
}

form {
    margin-left: 745px;
    margin-top: 30px;
    padding-left: 60px;
    padding-top: 20px;
    width: 300px;
    height: 140px;
    background: white;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

input {
    font-style: oblique;
    background-color: #e5e5e5;
    width: 250px;
    height: 25px;
}

.input2{
    margin-top: 15px;
}

button {
    color: #fff;
    padding: 10px 20px;
    margin-left: 174px;
    margin-top: 10px;
    border: 1px solid rgb(8, 4, 0);
    border-radius: 30px;
    background: rgb(0, 0, 0) linear-gradient(rgb(43, 43, 43) 20%, rgb(34, 34, 34));
    box-shadow: 0 2px rgb(41, 41, 41),
    0 1px 6px rgba(0, 0, 0, 0.4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);

}