<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/Users/accessError.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>У вас недостаточно прав</h1>

<form action="~/Menu/Menu">
    <button>В меню</button>
</form>

</body>
</html>