@model string;

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/Users/userResult.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<h1>@Model</h1>

<form action="~/Users/Users">
    <button type="submit">Принять</button>
</form>

</body>
</html>